body.login {
    background-color: #fff;
    background-image: url('https://picsum.photos/1920/1080');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100%;

}

.login .button.wp-hide-pw:focus,
.login .button.wp-hide-pw .dashicons {
    color: #fff;
    outline: 0;
    border: 0;
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
}

a:hover,
a:focus,
a {
    color: #FFA000;
    outline: 0;
    text-decoration: none;
    font-weight: 600;
}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
    width: 15px;
    height: 15px;
    min-width: 15px;
}

.login h1 {
    display: none;
}

body.login div#login {
    width: 370px;
    padding-top: 100px;
}

body.login div#login p.message {
    color: #fff;
    background: #009688;
    border-left: 5px solid #FFA000;
    font-weight: 600;
}

body.login div#login #login_error {
    background: #009688;
    color: #fff;
    border-left: 5px solid #F44336;
    font-weight: 600;
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
}

body.login div#login form#loginform,
body.login div#login form#registerform,
body.login div#login form#lostpasswordform {
    color: #fff;
    background: #009688;
    border: 0;
    border-left: 5px solid #FFA000;
    font-weight: 600;
}

body.login div#login form#loginform p label.fa-envelope:before,
body.login div#login form#loginform p label.fa-key:before,
body.login div#login form#registerform p label.fa-user:before,
body.login div#login form#registerform p label.fa-envelope:before,
body.login div#login form#lostpasswordform p label.fa-rocket:before {
    color: #fff;
    display: block;
    margin-bottom: -35px;
    margin-left: 15px;

}

body.login div#login form#loginform p label br,
body.login div#login form#registerform p label br,
body.login div#login form#lostpasswordform p label br {
    display: none;
}


body.login div#login form#loginform input#user_login,
body.login div#login form#registerform input#user_login {
    margin-bottom: 30px;
}


body.login div#login form#loginform input#user_login,
body.login div#login form#loginform input#user_pass,
body.login div#login form#registerform input#user_login,
body.login div#login form#registerform input#user_email,
body.login div#login form#lostpasswordform input#user_login {
    background: #087c71;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 1px;
}

body.login div#login form#loginform input#user_login:focus,
body.login div#login form#loginform input#user_pass:focus,
body.login div#login form#registerform input#user_login:focus,
body.login div#login form#registerform input#user_email:focus,
body.login div#login form#lostpasswordform input#user_login:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


body.login div#login form#loginform p.forgetmenot {
    margin-bottom: 8px;
}


body.login div#login form#loginform p.submit input#wp-submit,
body.login div#login form#registerform p.submit input#wp-submit,
body.login div#login form#lostpasswordform p.submit input#wp-submit {
    width: 100%;
    height: 40px;
    background: #FFA000;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;

}

body.login div#login form#loginform p.submit input#wp-submit:focus,
body.login div#login form#registerform p.submit input#wp-submit:focus,
body.login div#login form#lostpasswordform p.submit input#wp-submit:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.login div#login p#nav,
body.login div#login p#backtoblog a,
body.login div#login p#nav a {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

body.login div#login p#backtoblog a:hover,
body.login div#login p#backtoblog a:focus,
body.login div#login p#nav a:hover,
body.login div#login p#nav a:focus {
    color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
}

.login #backtoblog,
.login #nav {
    font-size: 14px;
    text-align: center;
}


/*========================================
		Mobile Layout: 320px.    
========================================*/

@media only screen and (max-width: 767px) {
    body.login div#login {
        width: 280px;
    }
}
